.controller.xbox {
    background: url(https://i.imgur.com/a4EiLJV.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox .bumper {
    width: 170px;
    height: 61px;
    background: url(https://i.imgur.com/rfZKQM2.png);
    opacity: 0;
}

.xbox .quadrant {
    position: absolute;
    background: url(https://i.imgur.com/kEwHwy1.png);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.xbox .button {
    position: absolute;
    background: url(https://i.imgur.com/PEoVxcB.png);
    width: 48px;
    height: 48px;
}


.xbox .stick {
    position: absolute;
    background: url(https://i.imgur.com/ZCb0GQ6.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}
